body {
    display: flex;
    background-color: #f0f2f5;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.left-section{
    display: flex;
    align-items: center;
    padding: 20px;
    float: left;
    
}

.left-section p{
    font-size: 20px;
    color: #1c1e21;
    text-align: center;
}

.left-section .logo {
    max-width: 321px; 
    height: auto;
    float: left;
    
}
